# User-specific files
*.suo
*.cache
*.vsidx
*.txt
*.lock
*.user
_ReSharper.*
obj
packages
Debug

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/
sax.projects*.json
sax.settings*.json
synapsis.modules*.json
synapsis.settings*.json

/projects/synapsis/dev/main/.vs/KromSAAI/v17/.suo
/projects/synapsis/dev/main/.vs/KromSAAI/v17/fileList.bin
masters/vb/esp/cmf/scr/Components web/1_0_CptFindbarControl64_dll/FindbarControl/obj/Debug/CptFindbarControl64.vbproj.AssemblyReference.cache
*.cache
*.pdb
