
/*BUTTON*/

.wc-button {
    --tintColor: #7e61b0;
    background-color: var(--tintColor);
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 18px;
    color: #ffffff;
}

.wc-button:hover {
	background-color: var(--tintColor);
	filter: grayscale(25%);
}

.wc-button:disabled {
    background-color: var(--tintColor);
}

.wc-button.button-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
}

.wc-button.button-icontext {
    background-position: 12px 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 8px 24px 8px 40px;
}

/*
.wc-button span:nth-child(1) {
	display: none;
}

.wc-button:disabled span {
	display: inline-block;
}

.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border: .25em solid currentColor;
    border-top-width: .1em;
    border-right-color: currentcolor;
    border-right-width: .1em;
    border-bottom-width: .1em;
    border-left-width: .1em;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
*/