/*CUBO*/
.wc-cubo-formulas {
    width: 100%;
  
}
/*TOP CONTENT*/
    .wc-cubo-formulas > div:nth-child(1) {
        border: 1px solid #cecdcd;
        border-radius: 20px;
        display: flex;
        /*overflow: hidden;*/
        width: 100%;
        height: 40px;
    }
        .wc-cubo-formulas > div:nth-child(1)  input[type="submit"] {
            height: 40px;
            border: 0;
            outline: 0;
            width: 60px;
            color: #ffffff;
            text-align: center;
        }

    .wc-cubo-formulas > div:nth-child(6) {
        border: 1px solid #cecdcd;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
    }



    .wc-cubo-formulas > div:nth-child(1)  .cubo-btn input {
        border-radius: 20px 0 0 20px;
        opacity: .7;
        border-right: 1px solid rgba(255,255,255,0.035);
        margin: 0 !important;
        /*        padding: 0 !important;
        box-sizing: border-box;
        float: left;
        left: 0 !important;*/
    }

    .wc-cubo-formulas > div:nth-child(1) .cubo-btn-formula input {
        border-radius: 0 20px 20px 0;
        background-image: url('../../imgs/function.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        border-left: 1px solid rgba(0,0,0,0.035);
        margin: 0 !important;
        /*        padding: 0 !important;
        box-sizing: border-box;
        float: left;*/
    }

    .wc-cubo-formulas > div:nth-child(1)  .cubo-btn-variable input {
        border-radius: 0 20px 20px 0;
        background-image: url('../../imgs/variable.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        border-left: 1px solid rgba(0,0,0,0.035);
        --tintColors: #d2167e;
        background-color: var(--tintColors);
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
        float: left;
    }

    .wc-cubo-formulas > div:nth-child(1)  .cubo-input-search {
        border: 0 !important;
        height: 30px;
        margin: 0 !important;
        width: 90% !important;
    }

        .wc-cubo-formulas > div:nth-child(1)  .cubo-input-search input {
            border: 0 !important;
            height: 30px;
            margin: 0 !important;
            width: 90% !important;
        }

        .wc-cubo-formulas > div:nth-child(1)  .cubo-input-search .wc-input {
            margin: 0 4px !important;
            min-height: 30px !important;
            width: 90% !important;
        }

    .wc-cubo-formulas > div:nth-child(1) .cubo-input-search {
        border: 0 !important;
        height: 30px;
        margin: 0 !important;
        width: 90% !important;
        overflow: hidden !important;
    }

    .wc-cubo-formulas > div:nth-child(1) .cubo-fbc-search input {
        border: 0 !important;
        height: 37.8px;
        width: 100% !important;
    }

    .wc-cubo-formulas > div:nth-child(1) .cubo-fbc-search .wc-input {
        border: 0 !important;
        min-height: 37.8px !important;
        width: 100% !important;
    }

    .wc-cubo-formulas > div:nth-child(1) .cubo-fbc-search {
        border: 0 !important;
        height: 37.8px;
        width: 100% !important;
    }

.wc-findbox > div:nth-child(1) {
    overflow: hidden !important;
    border-bottom: 0.1px solid #cecdcd !important;
}
/*.wc-cubo-formulas > div:nth-child(4) .cubo-input-search2 textarea {
        border: 1px solid #cecdcd !important;
        height: 10px;*/
/*  margin: 0 4px !important;*/
/*border-radius: 20px !important;
        margin-top: 8px;
        width: 100% !important;
    }

    .wc-cubo-formulas > div:nth-child(4) .cubo-input-search2 .wc-input {
        margin: 0 4px !important;
        min-height: 30px !important;
        width: 100% !important;
        
    }*/
.cubo-input-search2 textarea {
    border: 1px solid #cecdcd !important;
    height: 10px;
    /*  margin: 0 4px !important;*/
    border-radius: 20px !important;
    margin-top: 8px;
    text-indent: 20px;
    width: 100% !important;
}

     .cubo-input-search2 .wc-input {
        margin: 0 4px !important;
        min-height: 30px !important;
        width: 100% !important;
    }

/*SECOND TOP CONTENT*/
.wc-cubo-formulas > div:nth-child(2) {
    display: flex;
}
.wc-cubo-formulas > div:nth-child(2) > div:nth-child(2) {
    margin-left: auto;
}
/*
.wc-cubo-formulas > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    align-items: center;
}
.wc-cubo-formulas > div:nth-child(2) > div:nth-child(1) img {
    object-fit:cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}*/
/*CENTER CONTENT*/
.wc-cubo-formulas > div:nth-child(3) {
    margin: 16px 0;
}
    .wc-cubo-formulas > div:nth-child(3) > div:nth-child(1) {
        margin: 0 !important;
        border: 1px solid #cecdcd;
        border-radius: 20px;
        /*        overflow: hidden;*/
        padding: 8px 16px;
        height: 250px;
        overflow-y: scroll;
    }
.wc-cubo-formulas > div:nth-child(3) > input {
    display:none;
}
/*BOTTOM CONTENT*/
.wc-cubo-formulas > div:nth-child(4) {
    display: flex;
    justify-content: end;
}
.wc-cubo-formulas > div:nth-child(4) > div:nth-child(1) {
    margin-right: 8px;
}
.wc-cubo-formulas > div:nth-child(4) > div:nth-child(1) input {
    opacity:.7;
}
/*SYNTAX HIGHLIGTHTER*/
.keyword {
    color: #d2167e;
    font-weight: bold;
}

.variable {
    color: #af1a1d;
}

.constante {
    color: #09a183;
}

.parentesis {
    color: #09a183;
}

.operador {
    color: #094da1;
}

.constanstring {
    color: #2e2c2c;
}

/*CUBO MESSAGES*/

.wc-cubo-messages textarea {
    margin: 0 !important;
    border: 1px solid #cecdcd !important;
    border-radius: 20px !important;
    padding: 8px 16px !important;
    height: 305px;
}

.wc-cubo-messages fieldset > div > div:nth-child(2) {
    width:100%;
    display:flex;
    justify-content:end;
}

/*CUBO DESCRIPTION*/

.wc-cubo-description textarea {
    margin: 0 !important;
    border: 1px solid #cecdcd !important;
    border-radius: 20px !important;
    padding: 8px 16px !important;
    height: 305px;
}

/*CUBO COMMENTS*/
.wc-cubo-comments ul {
    --tintColor: #7e61b0;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    position: relative;
}

.wc-cubo-comments ul:before {
    content:"";
    position:absolute;
    right:10px;
    top:0;
    height:100%;
    width:2px;
    background-color:var(--tintColor);
}

.wc-cubo-comments ul li {
    padding-right: 16px;
    margin-bottom: 16px;
    position:relative;
}

.wc-cubo-comments ul li:before {
    content:"";
    width:14px;
    height:14px;
    border-radius:50%;
    border:2px solid var(--tintColor);
    background-color:#ffffff;
    position:absolute;
    right:4px;
    top:50%;
    transform:translateY(-50%);
}
/*
.wc-cubo-comments ul li > div:nth-child(1) {
    display: flex;
    align-items: center;
}

.wc-cubo-comments ul li > div:nth-child(1) img {
    object-fit:cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}

.wc-cubo-comments ul li > div:nth-child(1) small {
    display: block;
    font-size:75%;
    opacity:.7;
}

.wc-cubo-comments ul li > div:nth-child(2) {
    text-align: justify;
    padding-top: 4px;
    padding-right:16px;
}
*/


/**/
.cubo-input-search {
    border: 0 !important;
    height: 20px;
    margin: 0 !important;
    width: 150px !important;
}


.wc-userdata {

    display: flex;
    align-items: center;
    margin: 8px 0;
}

.wc-userdata img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}

.wc-userdata small {
    display: block;
    font-size: 75%;
    opacity: .7;
}

/*@media(min-width:400px) {
    .swc-online {
        position: relative;
        left: 50px;
    }
}

@media(min-width: 576px) {
    .swc-online {
        position: relative;
        left: 50px;
    }
}


@media(min-width:760px) {
    .swc-online {
        position: relative;
        left: 700px;
    }
}

@media(min-width:992px) {
    .swc-online {
        position: relative;
        left: 700px;
    }
}

@media(min-width:1200px) {
    .swc-online {
        position: relative;
        left: 900px;
    }
}*/


.swc-online {
    position: relative;
    bottom: 9px;
}

    .wc-comment {
    }

        .wc-comment > div:nth-child(1) {
            display: flex;
            align-items: center;
        }

        .wc-comment li > div:nth-child(1) img {
            object-fit: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 4px;
        }

        .wc-comment li > div:nth-child(1) small {
            display: block;
            font-size: 75%;
            opacity: .7;
        }

        .wc-comment li > div:nth-child(2) {
            text-align: justify;
            padding-top: 4px;
            padding-right: 16px;
        }


    .fscformulascabulidad {
    }

    /*.formulasabulidad {
    left: 1000px;
}*/

.wc-cubo-formulas > div:nth-child(4) .iraelaborarprueba input {
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('../../imgs/matraz.png');
    background-size: 17%;
    --tintColorss: #cecdcd;
    background-color: var(--tintColorss);
}

    .wc-cubo-formulas > div:nth-child(4) .iralimpiar input {
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url('../../imgs/eraser.png');
    }


    /*.iralimpiar input {
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('../../imgs/eraser.png');

}*/

    .probarformulacabulidad {
    }

    .feditor-formula-actual {
    }

    .feditor-formula-nueva {
    }

    .catalogopendacabulidad {
    }

.swcverificado input {
    background-image: url('../../imgs/checkeds3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: steelblue;
    display: block;
    position: relative;
    top: 1%;
    width: 0.4px;
    height: 7%;
    border:0px solid #000000;
    border-radius: 100%;
    opacity: .9;
}



.bcporautorizar input {
    background-image: url('../../imgs/desbloquear.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #FFBF00;
    display: block;
    position: relative;
    top: 1%;
    width: 0.4px;
    height: 7%;
    border: 0px solid #000000;
    border-radius: 100%;
    opacity: .9;
}

.swcverificado {
  
}


/*.wc-cubo-formulas strong label span {
    background-image: url('../../imgs/tachuela.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: .5;
}*/
/*    .bcporautorizar input {
        margin-top: 10%;
        background-image: url('../../imgs/relojarena.png');
        background-repeat: no-repeat;
        background-size: 17%;
        background-position: left center;
        border-radius: 0 0px 0px 0;
        --tintColorbcp: #efc257;
        background-color: var(--tintColorbcp);
    }*/

    .formcontrolcabulidad {
    }

