
/*FINDBOX*/

.wc-findbox {
	--tintColor: #6c4fd3;
}

.wc-findbox > div:nth-child(1) {
    border-bottom: 1px solid #828282;
	border-radius: 0;
	position: relative;
}

.wc-findbox > div:nth-child(1) input {
	border: 0;
	outline: 0;
	line-height: 1.25;
	padding: .5rem .25rem 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 22px;
}

.wc-findbox > div:nth-child(1) a {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 35px;
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.wc-findbox .icon-search {
	background-image: url('../../imgs/search.png');
}

/*.wc-findbox .icon-loader {
	background-image: url('../../imgs/loader.gif');
}*/

.wc-findbox > div:nth-child(1) > div:nth-child(3) a {
	background-image: url('../../imgs/close.png');
}

.wc-findbox > div:nth-child(2) {
	position: absolute;
	top: 110%;
	left: 0;
	right: 0;
	background-color: #ffffff;
	padding: 4px;
	margin: 0;
	border-radius: 7px;
	max-height: 240px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.25);
	z-index: 9999;
}

.wc-findbox > div:nth-child(2) > div > a {
	text-decoration: none;
	cursor: pointer;
	color: var(--tintColor);
}

.wc-findbox > div:nth-child(2) > div > ul {
	max-height: 164px;
	overflow: auto;
}

.wc-findbox > div:nth-child(2) > div > ul > li > a {
	padding: 4px 7px 0px;

}

.wc-findbox > div:nth-child(2) > div > ul > li > a:hover {
	background-color: #f9f9f9;
}

.wc-findbox .float-form-control {
	left: 0px;
}

.wc-findbox > a {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:9998;
}

.wc-findbox .__value:not(:placeholder-shown) + label {
	top: -1px;
	opacity: 1;
}

.wc-findbox .__value:not(:disabled):not(:placeholder-shown) + label {
	color: var(--tintColor);
}