
/*TABBAR*/

.wc-tabbar {
    --tintColor: #6c4fd3;
}

.wc-tabbar > div:nth-child(1) label {
    flex-grow: 1;
    text-align: center;
    position: relative;
    color: #616161;
    padding: 1.5rem 0;
    cursor: pointer;
}

.wc-tabbar > div:nth-child(1) label input + span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: .5s all;
}

.wc-tabbar > div:nth-child(1) label input:checked + span {
    background-color: var(--tintColor);
}

.wc-tabbar > div:nth-child(1) > div:first-child {
    border-bottom: 1px solid #d9d9d9;
}

.wc-tabbar > div:first-child input[type="radio"] {
    display: none;
}